<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<form action="/quote" method="post">
		<label>Name:</label>
		<input type="text" name="name">
		<label>Quote:</label>
		<input type="text" name="quote">
		<input type="submit" name="submit" value="Add a quote">
	</form>
	<a href="/quotes">Skip to Quotes!</a>

</body>
</html>