<!DOCTYPE html>
<html>
<head>
	<title>quotes from users</title>
</head>
<body>
	<h1>Quotes from Users</h1>

        <ul>
        <% for ( quote of quotes ) { %>
          <li><%= quote.name %></li>
          <li><%= quote.quote %></li>
        <% } %>
      </ul>
</body>
</html>