<!DOCTYPE html>
<html>
<head>
	<title>quotes from users</title>
</head>
<body>
	<h1>Quotes from Users</h1>

        
        <% for ( const quote of quotes ) { %>
         <p><strong><%= quote.name %></strong></p> 
         <p><strong><%= quote.quote %></strong></p> 
         <hr>
        <% } %>
      
</body>
</html>