<!DOCTYPE html>
<html>
<head>
	<title>quotes from users</title>
</head>
<body>
	<h1>Quotes from Users</h1>
	<% for (var i = 0; i < quotes.length; i++) { %>
		<p><strong><%= quotes[i].name %></strong></p>
		<p><%= quotes[i].quote %></p>
		<hr>
		<% } %>
      
</body>
</html>